*.o
*.d
*.gcno
*.gcda
locale
aidepost
build-arch-stamp
build-indep-stamp
chkpw
chkpwd
citadel
citmail
citserver
ctdlmigrate
getmail
msgform
panic.log
sendcommand
setup
svn_revision.c
userlist
gmon.out
citadel.config
citadel.control
citadel.pid
refcount_adjustments.dat
keys
netconfigs
data
package-version.txt
core.*
